nav1{
    position:fixed;
    width: 45px;
    margin-top: 50px;
    z-index :99;
    opacity :100;
}

nav1 li{
    height:45px;
    position:relative;
    background-color: rgb(236, 231, 236);
    padding-left: 1px;
  


}
nav1 li a{
    display:block;
    text-decoration: none;
  


}


nav1 li a i{
    position:absolute;
    top:4px;
    font-size: 35px;
}



 

 /*Scroll stuffs*/

 .scroll-down nav1{
     transform: translate3d(0, -100%, 0);
 }

/* gallery section */
.w3l-gallery {
    background: var(--bg-lightgrey);
  }
  
  .w3l-gallery a.zoom {
    overflow: hidden;
    position: relative;
  }
  
  .w3l-gallery a.zoom img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .w3l-gallery a:hover img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
  
  .w3l-gallery span.hover-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
  }
  
  .w3l-gallery span.hover-content .title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
  }
  
  .w3l-gallery span.hover-content .content {
    font-size: 18px;
    color: #eee;
    display: block;
  }
  
  .w3l-gallery .overlay__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51 51 51 / 56%);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  
  .w3l-gallery a.zoom:hover .hover-content {
    bottom: 0;
    visibility: visible;
    opacity: 1;
  }
  
  .w3l-gallery a.zoom:hover .overlay__hover {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 480px) {
    .w3l-gallery span.hover-content {
      padding: 36px 40px;
    }
  }